# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
*.pot
*.pyc
db.sqlite3

# Environment
.env
venv/
env/
*.sqlite3

# Static files
/staticfiles/
/media/

# VSCode settings
.vscode/

# OS files
.DS_Store
Thumbs.db
